# Built variants and outputs
/build/
app/build/
.build-outputs/
*.apk
*.aar
*.ap_
*.aab

# Gradle files
.gradle/
/local.properties
local.properties

# Secrets
.env
.env.production
.env.local

# IDEs and Editors
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.navigation/
captures/
.externalNativeBuild/
.cxx/
as_view_state.xml

# OS-specific files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
/tmp/
temp/

